body {
  background-color: #fef4e8;
  padding: 10px 15px;
}

.home {
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: inline-block;
  padding: 3px 10px;
  font-weight: 600;
  border-style: solid;
  border-width: 2px;
  font-size: 14px;
}

.beef-pho-img {
  width: 450px;
  height: auto;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  width: 450px;
}

.content.ingredients img,
.content.ingredients ul {
  display: inline-block;
  vertical-align: middle;
}

.content.ingredients img {
  height: 280px;
  width: auto;
  margin: 0 -5px;
}
