body {
  background-color: #fef4e8;
  padding: 10px 15px;
}

.home {
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: inline-block;
  padding: 3px 10px;
  font-weight: 600;
  border-style: solid;
  border-width: 2px;
  font-size: 14px;
}

.teri-chicken-img {
  width: 450px;
  height: auto;
}
